
#bu{
    font-size: 40px;
    color: indigo;
    margin-left: 20%;
}
#bu2{
    font-size: 40px;
    color: indigo;
    margin-left: 20%;
}
.he{
    font-size: 70px;
    
    color: rgb(19, 12, 12);
}
