
BODY { 
    background: #AAAAAA;
    text-decoration-color: floralwhite;
    
    }
    
    input{
      border: none;
  display: block;
  height: 25px;
  width: 10%;
  line-height: 1.5;
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid #cfcbcc;
  outline:0;
    }
    .p1{
      font-size: 20px;
      color: lightgreen;
    }
    .p2{
      font-size: 20px;
      color: lightgreen;
    }
    .p3{
      font-size: 20px;
      color: lightgreen;
    }
    .h3{
      font-size: 30px;
      color: ghostwhite;
      
    }
    .head1{
      font-size: 40px;
      color:floralwhite;
      margin-left: 15cm;
    }
    #tables{
      display: inline-flex;
    }
    #timer{
      font-size: 40px;
      
      margin-top: -5%;
      margin-left: 80%;
      color: floralwhite;
      }
  
    #table > div::before{
     padding-bottom: 100%;
     display: block;
      
    }
    #table{
      padding-right: 10%;
      
    }
    #table2 > div::before{
      padding-bottom: 100%;
      display: block;
       
     }
     #table2{
       margin-left: -7%;
       margin-top: 15%;
     }
    
    .button1{
      background-color: rgb(43, 179, 184);
     border: none;
     color: rgb(24, 23, 23);
     margin-left: 50%;
     padding: 15px 32px;
      text-align: center;
      text-decoration-color: rgb(24, 23, 23);
     text-decoration: none;
    display: inline-block;
      font-size: 16px;
    }
   .button2{
    background-color: rgb(43, 179, 184); 
    border: none;
   
    margin-left: 50%;
    color: rgb(24, 23, 23);
    padding: 15px 32px;
     text-align: center;
     text-decoration-color: rgb(24, 23, 23);
    text-decoration: none;
   display: inline-block;
     font-size: 16px;
   }
    .tile1, .tile2, .tile3, .tile4{
      display: table-cell;
      width: 75px;
      height: 75px;
      
      border: 1px solid white;
            cursor: pointer;
    }
    .tile5, .tile6, .tile7, .tile8{
        display: table-cell;
        width: 75px;
            height: 75px;
        
        border: 1px solid white;
       
        cursor: pointer;
      }
      .tile9 , .tile10, .tile11, .tile12  {
        display: table-cell;
        width: 75px;
            height: 75px;
        
        border: 1px solid white;
         
        cursor: pointer;
      }
      .tile13, .tile14, .tile15, .tile16 {
        display: table-cell;
        width: 75px;
            height: 75px;
        
        border: 1px solid white;
        
        cursor: pointer;
      }
      .tile17, .tile18, .tile19, .tile20 {
        display: table-cell;
        width: 75px;
            height: 75px;
        
        border: 1px solid white;
        
        cursor: pointer;
      }
      .tile21, .tile22, .tile23, .tile24 {
        display: table-cell;
        width: 75px;
            height: 75px;
        
        border: 1px solid white;
        
        cursor: pointer;
      }
      .tile25 {
        display: table-cell;
        width: 75px;
            height: 75px;
        
        border: 1px solid white;
      }
      .tile25 { cursor: default;}
      BODY { 
        background: #AAAAAA;
        }
        
        .tile1k, .tile2k {
          display: table-cell;
          width: 75px;
            height: 75px;
          
          border: 1px solid white;
          
          cursor: pointer;
        }
        .tile3k, .tile4k {
            display: table-cell;
            width: 75px;
            height: 75px;
            
            border: 1px solid white;
            
            cursor: pointer;
          }
           .tile5k {
            display: table-cell;
            width: 75px;
            height: 75px;
            
            border: 1px solid white;
             
            cursor: pointer;
          }
          .tile7k, .tile8k {
            display: table-cell;
            width: 75px;
            height: 75px;
            
            border: 1px solid white;
           
            cursor: pointer;
          }
          .tile9k {
            display: table-cell;
            width: 75px;
            height: 75px;
            
            border: 1px solid white;
            
            cursor: pointer;
          }
          .tile6k {
            display: table-cell;
            width: 75px;
            height: 75px;
            
            border: 1px solid white;
            
            cursor: pointer;
          }
    
    
    