
BODY { 
  background: #AAAAAA;
  text-decoration-color: floralwhite;
  
  }
  #tables{
    display: inline-flex;
    grid-gap: 75px 75px;
    
  }
  #table{
    margin-bottom: -15%;
   
    margin-left: 5%;
    margin-right: -40%;
  }
  #table2{
    margin-left: 45%;
    margin-right: -20%;
  }
  input{
    border: none;
display: block;
height: 25px;
width: 10%;
line-height: 1.5;
padding: 8px 0 8px 10px;
border-bottom: 1px solid #cfcbcc;
outline:0;
  }
  .p1{
    font-size: 20px;
    color: lightgreen;
  }
  .p2{
    font-size: 20px;
    color: lightgreen;
  }
  .p3{
    font-size: 20px;
    color: lightgreen;
  }
  .h3{
    font-size: 30px;
    color: ghostwhite;

  }
  .head1{
    font-size: 40px;
    color:floralwhite;
    margin-left: 15cm;
  }
  #timer{
    font-size: 40px;
    color: floralwhite;
    margin-top: -5cm;
  margin-left: 10cm;}
 
  .button1{
    background-color: rgb(43, 179, 184);
   border: none;
   color: rgb(24, 23, 23);
   margin-left: 50%;
   padding: 15px 32px;
    text-align: center;
    text-decoration-color: rgb(24, 23, 23);
   text-decoration: none;
  display: inline-block;
    font-size: 16px;
  }
 .button2{
  background-color: rgb(43, 179, 184); 
  border: none;
 
  margin-left: 50%;
  color: rgb(24, 23, 23);
  padding: 15px 32px;
   text-align: center;
   text-decoration-color: rgb(24, 23, 23);
  text-decoration: none;
 display: inline-block;
   font-size: 16px;
 }
  .tile1, .tile2, .tile3, .tile4, .tile5, .tile6{
    display: table-cell;
    width: 75px;
    height: 75px;
    border: 1px solid white;
          cursor: pointer;
  }
  
  .tile7, .tile8 ,.tile9 , .tile10, .tile11, .tile12{
      display: table-cell;
      width: 75px;
      height: 75px;
      border: 1px solid white;
     
      cursor: pointer;
    }
    
    .tile13, .tile14, .tile15, .tile16, .tile17, .tile18{
      display: table-cell;
      width: 75px;
      height: 75px;
      border: 1px solid white;
      
      cursor: pointer;
    }
    .tile19, .tile20 ,.tile21, .tile22, .tile23, .tile24 {
      display: table-cell;
      width: 75px;
      height: 75px;
      border: 1px solid white;
      
      cursor: pointer;
    }
   
    .tile25,.tile26, .tile27, .tile28, .tile29,.tile30 {
      display: table-cell;
      width: 75px;
      height: 75px;
      border: 1px solid white;
    }
    
    .tile31, .tile32, .tile33, .tile34, .tile35, .tile36{
      display: table-cell;
      width: 75px;
      height: 75px;
      border: 1px solid white;
            cursor: pointer;
    }
    
      
      .tile1k, .tile2k {
        display: table-cell;
        width: 75px;
        height: 75px;
        border: 1px solid white;
        
        cursor: pointer;
      }
      .tile3k, .tile4k {
          display: table-cell;
          width: 75px;
          height: 75px;
          border: 1px solid white;
          
          cursor: pointer;
        }
         .tile5k {
          display: table-cell;
          width: 75px;
          height: 75px;
          border: 1px solid white;
           
          cursor: pointer;
        }
        .tile7k, .tile8k, .tile10k, .tile11k, .tile12k,.tile13k,.tile14k,.tile15k,.tile16k {
          display: table-cell;
          width: 75px;
          height: 75px;
          border: 1px solid white;
         
          cursor: pointer;
        }
        .tile9k {
          display: table-cell;
          width: 75px;
          height: 75px;
          border: 1px solid white;
          
          cursor: pointer;
        }
        .tile6k {
          display: table-cell;
          width: 75px;
          height: 75px;
          border: 1px solid white;
          
          cursor: pointer;
        }
  
  
  